@font-face { 
	src: url(fonts/Caveat-Bold.ttf); 
}

.copyright {
	color: #007bff;
}

.content {
	background:#f1f1f1;
}

.row.content {
	height: 1000px
}


.sidenav {
  background-color: #fff;
}

.message {
	background: #383842;
	color: #fff;
	padding: 25px 20px 0px 49px;
}

.message .post {
	padding: 0px 64px 30px;
}

.post .iaction {
	margin: 40px;
}

.post .htime {
	font-size: 12px;
}

.iaction i {
	margin: 2px;
    background: red;
    border-radius: 100%;
    border: 5px solid red;
    padding: 0px 2px 0px 2px;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}


@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}

.position-admin {
	padding-top: 550px;
}

.content-left {
	text-align: center;
	margin: auto;
	padding: 40px 20px 0px 20px;
}

.content-left .btn {
	width: 100%;
	height: 50px;
	border-radius: inherit;
}

.content-left hr {
	width: 25%;
}

.content-left p {
	padding-top: 35px;
}

p {
	white-space: pre-line;
	text-align:left;
}

.ibgmessage {
    z-index: 0;
    padding: 0px 0px 60px 100px;
    font-size: 100px;
    position: absolute;
  	color: #54545C;
}

.bgmessage {
	position: absolute;
	padding: 0px 3px 0 0px;
}

.message b {
	font-family: 'Caveat', cursive;
	font-size: 18px;
}

.login-admin {

}

/*pagination*/
.hpagination {
    position: relative;
    text-align: center;
    padding-top: 20%;
}
.hpagination ol li {
    display:inline;
}
.hpagination ol {
    margin: 0 10px;
}
.hpagination a,
.hpagination ol li span {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    padding: 1px 10px 2px;
    text-decoration: none;
}
.hpagination a:hover {
    border: 2px solid #f00;
    color: #f00;
}
.hpagination ol li span {
    background: #f00;
    font-weight: bold;
}
.hpagination p {
    position: absolute;
    top: 0;
}
.hpagination p.previous {
    left: 0;
}
.hpagination p.next {
    right: 0;
}